@font-face {
  font-family: NotoSans;
  src: url("./Fonts/NotoSans.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 20px NotoSans;
  direction: rtl;

  a {
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 0 0.5rem;

    &:hover {
      border-bottom-color: #16a249;
    }
  }

  input,
  select {
    border: 2px solid #00000022;
    padding: 0.25rem 1rem;
    font: 1rem NotoSans;
    border-radius: 1rem;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
}
