.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    width: 17rem;
    line-height: 4rem;
    font-weight: 500;
  }

  .timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;
    min-width: 40rem;

    .line {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 100%;
      width: 3rem;
      border-radius: 3rem;
      background: #16a249;
      z-index: -1;
    }

    .step {
      padding: 1.5rem;
      border-radius: 1rem;
      background: #fff;
      box-shadow: 0 0 1rem #00000022;
      max-width: 25rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-right: auto;

      .title {
        font-weight: 500;
        line-height: 2rem;
      }

      .desc {
        opacity: 0.5;
      }
    }

    .step:nth-child(even) {
      margin-right: unset;
      margin-left: auto;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    .timeline {
      min-width: unset;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 2rem;

    .title {
      font-size: 1.5rem;
      width: unset;
    }
  }
}
